<div class="center_wrap">

  <%= render partial:'basic_info' %>

  <div class="container">

    <div class="layout_wrap">

      <div class="ihome_forum_group ihome_section clearfix">
          <h1 class="ihome_title">
            <span class="cut_line">|</span><%= user_mark @u %>的关注
          </h1>
          <div class="clearfix u-f-wrap mgT10">
            <div class="followers_module">
            <% if @follow_users and @follow_users.length > 0 %>
              <% @follow_users.each do |user| %>
              <div class="item">
                <a class="none" href="/<%= user.id %>">
                  <img alt="" src="<%= user.avatar_path.normal.url %>">
                </a>
                <a class="name none" href="/<%= user.id %>"><%= user.nickname %></a>
              </div>
              <% end %>
            <% elsif params[:page].to_i <= 1 %>
              <div class="empty_notice">
                <%= user_mark @u,'' %>没有关注任何人
              </div>
            <% end %>
            </div>
          </div>  
      </div>

      <div class="pagination_wrap">
        <%= paginate @follow_relations,inner_window:3,outer_window:1 %>
      </div>

    </div>

  </div>
</div>

<% content_for :bodyScript do %>
<script src="<%= static_url "/assets/js/view/page.center.js" %>"></script>
<% end %>


