<div class="sidebar">
  <div class="subject_info mgB20">
      
        <div class="title clearfix">
          <div class="l">
            <a href="/subject/<%= @subject.identify %>/">
              <img class="site-logo" alt="" src="<%= @subject.cover_path.big.url %>" width="124px" height="124px">
            </a>
          </div>
          <div class="r">
            <div class="n1"><a class="down" href="/subject/<%= @subject.identify %>/"><%= @subject.title %></a></div>
            <div class="n2">专题下有 <i><%= @subject.post_sum.to_i %></i> 篇文章</div>
            <div class="n2"><i><%= @subject_followers_sum %></i> 人订阅了该专题</div>
            <div class="n2"><a href="javascript:;" class="ft16 lnk-selection <%= 'already' if @is_follow %>" data-subject-id="<%= @subject.id %>" onclick="switch_follow_subject(this);"><%= @is_follow ? '取消订阅' : '订阅' %></a></div>
          </div>
        </div>
        <div class="clr"></div>
      
      <div class="desc">
        <div>
          <%= @subject.intro %>
          <% if admin? %>
          <a class="down" href="/subject/<%= @subject.identify %>/new">写文章</a>
          <% end %>
        </div>
      </div>
  </div>

  <% if @subject_post_activities and @subject_post_activities.length >0 %>
  <div class="hot mgB20">
    <h2>文章最新动态</h2>
    <ul class="hot-thumb-wrap">
      <% @subject_post_activities.each do |activity| %>
      <li class="hot-thumb">
        <span class="hot-thumb-number">
          <a href="javascript:;">10</a>
        </span>
        <span class="hot-thumb-image">
          <a href="javascript:;">
            <img width="30" height="30" src="<%= static_url('/assets/img/common/post_bg_30.jpg') %>" alt="">
          </a>
        </span>
        <span class="hot-thumb-title offset">
          <a class="down" href="javascript:;" title="<%= activity.inspect %>"><%= activity.key %></a>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

</div>