<!DOCTYPE HTML>
<html>
	<head>
		<%= csrf_meta_tags %>
		<title><%= @page_title || "suixin365" %></title>
		<meta charset="utf-8">
		<meta content="Jeffrey" name="author">
		<meta content="<%= @page_description %>" name="description">
		<meta content="<%= @page_keywords %>" name="keywords">

		<link href="<%= static_url "/assets/css/main.css" %>" media="all" rel="stylesheet" type="text/css">
		<link href="<%= static_url "/assets/css/alertify.css" %>" media="all" rel="stylesheet" type="text/css">
		<!-- idea 支持自定义主题样式	 -->
		<link href="<%= static_url "/assets/css/default.css" %>" media="all" rel="stylesheet" type="text/css">

		<script src="<%= static_url "/assets/js/lib/require.js" %>"></script>
		<script type="text/javascript">
			requirejs.config({
			    //By default load any module IDs from js/lib
			    baseUrl: '<%= static_url "/assets/js/lib","noVersion" %>',
			    paths:{
			        plugin:'../plugin'
			    },
			    shim: {
			      'plugin/alertify':{
			        deps:['jquery']
			      },
			      'plugin/jquery.easing':{
			        deps: ['jquery']
			      },
			      'plugin/jquery.megamenu':{
			        deps: ['jquery','plugin/jquery.easing']
			      }
			    },
			    urlArgs:'v=<%= APP_VERSION %>'
			});
		</script>
		<script src="<%= static_url "/assets/js/main.js" %>"></script>

	</head>

	<body>
			<div id="header" class="header">
				<%= render "header" %>
			</div>

			<div id="main" class="container">
				<%= yield %>
			</div>
			
			<%= render 'global' %>

			<div class="clr">
			<div id="footer" class="footer">

				<div style="margin-top: 20px;border-top: 1px solid #ddd;height: 80px;font-size: 13px;">

					<h1 style="width:370px;margin:0 auto;margin-top:20px;"> ---------- 预留底部 ---------- </h1>

				</div>

			</div>
	</body>
</html>